/*
font-family: 'Arimo', sans-serif;
font-family: 'Coiny', cursive;
*/

@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;600&family=Coiny&display=swap');

#addRecipe {
    padding-top: var(--navBarHeight);
    width: 100vw;
}

#addRecipe input:focus {
    outline: none;
}

#addRecipe textarea {
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    outline: none;
}


#addRecipeTitle h3 {
    font-family: 'Arimo', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    margin: 0.5rem;
}

#addRecipeTitle p {
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    margin-left: 0.5rem;
}

#labelSubmitImage {
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--highlightColor);
    background-color: white;
    border: 0.1rem solid var(--highlightColor);
    padding: 0.1rem;
    padding-inline: 0.3rem;
}

#recipeForm input[type="file"] {
    display: none;
}

#addRecipePic {
    margin-bottom: 0.2rem;
}

#submitDisplayImage {
    aspect-ratio: 1 / 1;
    width: 40vh;
    object-fit: cover;
    display: none;
    margin-top: 0.5rem;
}

#submitRecipeRating {
    display: none;
}

#recipeForm {
    margin-inline: 1rem;
}

#recipeForm div p {
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 1rem;
}

#recipeForm input {
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}


.header {
    font-family: 'Arimo', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    border-left: 0.4rem solid var(--highlightColor);
    padding-left: 0.3rem;
    margin: 1rem 1rem 0.2rem 0;
}

#ingredientAmount {
    width: 30%;
    border: none;
    border-bottom: 0.1rem solid var(--highlightColor);
}

#ingredientName {
    width: 70%;
    border: none;
    border-bottom: 0.1rem solid var(--highlightColor);
}

#addIngButton {
    font-family: 'Arimo', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    border: 0.1rem solid var(--highlightColor);
    color: var(--highlightColor);
    background-color: white;
    margin-top: 0.5rem;
}

.ingredients {
    display: flex;
    margin-block: 0.4rem;
}

.ingredients input:focus {
    outline: none;
}

#extraInfo {
    margin-bottom: 1rem;
}

#recipeForm input[type="checkbox"] {
    display: none;
}

.cats {
    font-family: 'Arimo', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    border: 0.1rem solid var(--highlightColor);
    color: var(--highlightColor);
    background-color: white;
}

#arsb {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#addRecipeSubmit {
    font-family: 'Arimo', sans-serif !important;
    font-weight: 600 !important;
    font-size: 1.5rem !important;
    border: 0.1rem solid var(--highlightColor);
    background-color: var(--highlightColor);
    color: white;
    margin-block: 1rem;
}

#addRecipeLoader {
    padding-top: calc(var(--navBarHeight) + 10vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#addRecipeLoadingSpinner {
    margin-top: 2rem;
    width: 4rem;
    height: 4rem;
    border: 1rem solid #f2f2f2; /* Light grey */
    border-top: 1rem solid var(--darkColor);
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

#successRecipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding-top: var(--navBarHeight);
}

#successRecipe h2 {
    font-size: 8vh;
    font-family: 'Coiny', cursive;
    margin-bottom: 2rem;
}

#successRecipe h3 {
    font-size: 5vh;
}


#successRecipeThanks {
    color: var(--highlightColor);
}

#failedRecipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding-top: var(--navBarHeight);
}

#failedRecipe h2 {
    font-size: 8vh;
    font-family: 'Coiny', cursive;
    margin-bottom: 2rem;
}

#failedRecipe h3 {
    font-size: 5vh;
    text-align: center;
}


#failedRecipeThanks {
    color: var(--highlightColor);
}

#failedRecipe p {
    width: 90%;
    word-wrap: break-word;
    margin-top: 2rem;
    text-align: center;
}

#failInfo {
    color: var(--highlightColor);
    font-size: 1.5rem;
}