/*
font-family: 'Arimo', sans-serif;
font-family: 'Coiny', cursive;
*/

@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;600&family=Coiny&display=swap');


#loginPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

#loginTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loginTitle h1 {
    font-family: 'Coiny', cursive;
    font-size: 4rem;
    font-weight: 400;
    margin: 0;
    margin-top: 2rem;
    margin-inline: auto;
    padding: 0;
}

#loginTitle div {
    display: flex;
    align-items: flex-start;
    width: 15rem;
}

#loginTitle h2 {
    font-size: 2.2rem;
    font-weight: 400;
    margin: 0;
    margin-top: -2rem;
    margin-bottom: 5rem;
    padding: 0;
}

#loginForm {
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    margin-inline: 2rem;
}

#loginUsername {
    font-size: 1.5rem;
    color: var(--highlightColor);
    background-color: #f2f2f2;
    border: none;
    border-bottom: 0.2rem solid var(--highlightColor);
    margin-bottom: 4rem; 
    height: 2.5rem;
    width: 20rem; 
}

#loginPassword {
    font-size: 1.5rem;
    color: var(--highlightColor);
    background-color: #f2f2f2;
    border: none;
    border-bottom: 0.2rem solid var(--highlightColor);
    margin-bottom: 3rem;
    height: 2.5rem;
    width: 20rem; 
}

#loginUsername:focus {
    outline: none;
}

#loginPassword:focus {
    outline: none;
}

#loginForm p {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-color: var(--darkColor);
    align-items: flex-start;
    
}

#loginForm div {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    align-self: center;
}

#loginSubmit {
    font-size: 200%;
    background-color: var(--highlightColor);
    color: white;
    border: 0;
    height: 5rem;
    align-self: center;
    width: 20rem; 
}