/*
font-family: 'Arimo', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;600&display=swap');

#mobileNav {
    background: white;
    position: fixed;
    width: 100vw;
    height: var(--navBarHeight);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.1rem solid var(--darkColor);
    z-index: 100;
}

#mobileMenuLogo {
    margin: 0.5rem;
    font-weight: 400;
}

.mobileMenuButton {
    margin: 0.4rem;
    font-size: 200%;

}

#closeMenuButton {
    margin: 0.5rem;
    font-size: 170%;
}

h2 {
    font-family: 'Arimo', sans-serif;
}

#bigMenuButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

#bigMenuButtons div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-inline: 1rem;
}

.bigMenuIcon {
    font-size: 1.5rem;
    margin-right: 1rem;
}

#bigMenuButtons button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0.3rem 0.5rem 0.3rem 1rem;
    font-size: 1.3rem;
    border: none;
    background-color: transparent;
}

#bigMenuButtons div:hover {
    background-color: #f1f1f1;
    cursor: pointer;
    color: var(--highlightColor);
}

#bigMenuButtons button:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

@media screen and (min-width: 1000px) {
    #mobileNav {
        height: var(--navBarHeight);
        border-bottom: 0.15rem solid var(--darkColor);
    }
    
    #mobileMenuLogo {
        font-weight: 600;
    }
    
    .mobileMenuButton {
        font-size: 250%;
    }
    
    #closeMenuButton {
        font-size: 220%;
    }
    
    h2 {
        font-size: 2rem;
    }
}
