/*
font-family: 'Arimo', sans-serif;
font-family: 'Coiny', cursive;
*/

@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;600&family=Coiny&display=swap');

#dropdownMenu {
    display: flex;
    flex-direction: column;
    z-index: 99;
    position: fixed;
    width: 100vw;
    height: 100%;
    background-color: white;
    transition: 0.5s ease-in-out;
    left: -100vw;
    justify-content: space-between;
}

#ddmenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#menuTitle {
    background-color: var(--highlightColor);
    color: white;
    font-family: 'Coiny', cursive, "Times New Roman", serif;
    font-weight: normal;
    width: 100vw;
    text-align: center;
    font-size: 2.5rem;
    padding-block: 4%;
    margin-top: var(--navBarHeight);
}

#menuMenu {
    color: var(--highlightColor);
    font-family: 'Coiny', cursive;
    font-weight: normal;
    width: 100vw;
    text-align: center;
    font-size: 2.5rem;
}

#menuSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#menuSection p {
    color: var(--highlightColor);
    font-size: 2rem;
    font-family: 'Arimo', sans-serif;
    margin-top: 2rem;
}

#menuSection div {
    display: flex;
    height: 100%;
}

.menuButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -2vh;
}

.menuButtons button {
    color: var(--highlightColor);
    font-size: 2rem;
    font-family: 'Arimo', sans-serif;
    background: none;
    border: none;
    border: 0.1rem solid var(--highlightColor);
    align-self: center;
    width: 15rem;
    margin-top: 7vh;
}

.menuButtons button:hover {
    color: white;
    background-color: var(--highlightColor);
}

#menuImage {
    background: url('../images/bruh.png');
    background-size: cover;
    width: 15rem;
    aspect-ratio: 1 / 1;
    transform: rotate(-10deg);
    position: absolute;
    bottom: 0;
    margin: 8rem 2rem; 
}

#menuFooter {
    background-color: var(--highlightColor);
    color: white;
    font-size: 1.1rem;
    font-family: 'Arimo', sans-serif;
    align-self: center;
    text-align: center;
    width: 100vw;
    padding-block: 1rem;
    height: 2rem;
}


@media screen and (min-width: 800px) {
    #menuTitle {
        font-size: 3rem;
        padding-block: 3%;
    }
    
    #menuMenu {
        margin-top: 1rem;
        font-size: 3rem;
    }
    
    #menuFooter {
        font-size: 1.5rem;
    }

    #menuImage {
        width: 18rem;
        bottom: 0;
        margin: 8rem 3rem;
    }
}

@media screen and (max-height: 600px) {
    .menuButtons button {
        margin-top: 4vh;
    }
}

@media screen and (max-height: 500px) {
    .menuButtons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 2vh;
    }

    .menuButtons button {
        margin-inline: 2rem;
    }
}

@media screen and (max-height: 400px) and (max-width: 850px) {
    .menuButtons button {
        font-size: 1.8rem;
        width: 12rem;
        margin-top: 3vh;
    }

    .menuButtons button {
        margin-inline: 0.5rem;
    }
}