#displayRatingStars {
    color: var(--highlightColor);
    font-size: 1.3rem;
}

.recipePage {
    color: white;
}

.allRecipes {
    font-size: 1.2rem;
}

@media screen and (min-width: 600px) {
    .allRecipes {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 700px) {
    .allRecipes {
        font-size: 1.5rem;
    }

    #displayRatingStars {
        color: var(--highlightColor);
        font-size: 1.5rem;
    }
}

