#sideDish {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#loadingSideDish {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#sideCategory {
    align-self: flex-start;
}

#sideImage {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    transition: 0.2s ease-in-out;
}

#sideImage:hover {
    transform: scale(1.02);
    box-shadow: 0 0 0.5rem 0.1rem var(--highlightColor);
}

#sideTitle {
    font-size: 0.9rem;
    font-family: 'Arimo', sans-serif;
    font-weight: 600;
    color: var(--highlightColor);
    margin-top: 0.1rem;
}

#loadingSide {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: #e9e9e9;
}

#loadingSideTitle {
    background-color: #e9e9e9;
    margin-top: 0.5rem;
    width: 70%;
    color: transparent;
}

@media screen and (min-width: 700px) {
    #sideDish {
        width: 100%;
        margin: 0;
        margin-bottom: 1rem;
    }

    #sideTitle {
        font-size: 1rem;
    }

    #loadingSideDish {
        width: 10rem;
        margin-right: 1vw;
    }
}

@media screen and (min-width: 1250px) {
    #sideDish {
        width: 100%;
        margin: 0;
        margin-bottom: 2rem;
    }

    #sideTitle {
        font-size: 1.2rem;
    }
    
    #sideImage {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }
}