:root {
    --highlightColor: #EC3758;
    --darkColor: #4A4A4A;
    --navBarHeight: 2.5rem;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    color: var(--darkColor);
    font-family: 'Arimo', sans-serif;
    margin: 0;
    padding: 0;
}

.dark {
    color: var(--darkColor);
}

.highlightColor {
    color: var(--highlightColor);
}

.links {
    text-decoration: none;
}

#displayBlocked {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#displayBlocked h3 {
    font-size: 3vw;
}

#displayBlocked h2 {
    font-size: 6vw;
    font-family: 'Coiny', cursive;
}

#displayBlockedThanks {
    margin-top: 2rem;
    color: var(--highlightColor);
}

#displayBlockImage {
    height: 20vw;
    aspect-ratio: 1 / 1;
}